.clients-list {
  display: flex;
  justify-content: space-between;
}

.clients-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 90px;
  color: #afb1b8;
  border: 1px solid;
  border-color: #afb1b8;
  border-radius: 4px;

  @include transition();
  &:hover,
  &:focus {
    color: var(--bg-color-accent);
    border-color: var(--bg-color-accent);
  }
}

.clients-list__icon {
  fill: currentColor;
}
