.page-footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--bg-color-secondary);
}

.page-footer__logo {
  display: inline-block;
  padding: 0;
  margin-bottom: 20px;
  color: var(--txt-color-secondary);
}
